:root {
  // 亮色主题的变量
  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #f9f9f9;
  --vp-c-text: #213547;
  --vp-c-brand: #646cff;
}

// 当 html 有 .dark 类时应用暗色主题变量
.dark {
  --vp-c-bg: #1a1a1a;
  --vp-c-bg-soft: #242424;
  --vp-c-text: #ffffff;
  --vp-c-brand: #747bff;
} 